div {
    word-wrap: break-word;
}
body {
    max-width: 500px;
    min-width: 250px;
    background-color: rgba(232, 232, 232, 0.52);
}

.footer > * {
    display: inline-block;
}

.footer > b {
    margin-left: 10px;
}

.footer {
    padding: 5px 0;
}
#go-to-options {
    float: right;
    margin-bottom: 10px;
}


#output {
    background-color: rgba(51, 122, 183, 0.32);
    padding: 5px 10px;
}